$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 5px;
  padding-bottom: 5px;

  // background: url(../images/photography.png);
  background: #2c3e50;
  color: #f5e5c0;
  font-family: 'Roboto', serif;
  font-weight: 300;
}
.container-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
}

.center {
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
h1 {
  font-family: 'Raleway', serif;
  color: #f8ca4d;
  font-size: 5em;
  text-align: center;
}
a.special {
  &:link {
    color: #f8ca4d;
  }
  &:hover {
    color: #F5E5C0;
  }
  &:visited,&:active {
    color: #f8ca4d;
  }
}
a.normal {
  &:link {
    font-size: 1.7em;
    color: #ea6045;
  }
  &:hover {
    color: #F5E5C0;
  }
  &:visited,&:active {
    color: #ea6045;
  }
}
.lead {
  margin-top: 4em;
  font-size: 1.7em;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1020px) {
  .container {
    max-width: 980px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
